/* NavBar */

nav{
    background-image: url(./fondoBlanco.png);
    font-weight:900;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.875rem;
    padding: 1.2rem;

}

nav .boox a{text-decoration: none; color: #fff;}

nav .item{
    padding: 1rem;
}

nav .img{
    padding-right: 2rem;
}
