.header {
    display: flex;
    justify-content: center;
    background-color:#a70a19;

}

.menu{
    display: flex;
    flex-direction: row;
}

.IBox{
    margin: 2.7rem 1.5rem 2.7rem auto;    
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
    color:#a70a19;
    font-size: 1.875rem;
}

.IBox a{text-decoration: none;color: #a70a19;}

.Logo {
    background-image: url(./LogoUR.png);
    align-items: center;
}


