.box {
    margin: 3.125rem 19rem 5.125rem 19rem;
    padding-top: 1.125rem;
    border-radius: 25px;
    /*background-image: url(../Imagenes/fondoGris.png); */
    background-color: rgba(255, 255, 255, 70%);
    /* flexear */
    background: #f1eced;
}

/* .Interbox{
    margin: 3.125rem 2.813rem 1.25rem 2.813rem;
    padding: 1.25rem 0rem 1.25rem 0rem;
    background-color: #ffffff;
    border-radius: 40px;
    border-style: solid;
    border-width: 7px;
    border-color: #C00D1E;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
} */

.Interbox .right{
    grid-column-start: 5;
}

.Interbox .left{padding-left: 1rem;}

.Interbox ul {
    
    margin-bottom: 30px;
  }
  
.Interbox li {
    margin-top: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.25rem;
    
}

.Interbox a{
    color: black;
    text-decoration: none;
}
/* 
.botonS{
    font-family: 'Inter';
    font-size: 1.75rem;
    text-align: center;
    color: #000000;
    background: #3b1214;
    border-radius: 20px;
    width: 13.75rem;
    height: 3.25rem;
    padding-top: 1.25rem;
}   

.botonS a{color: black;
    text-decoration: none;} */

h1{
    display: flex;
    justify-content: center;
}

.botonS{
    padding: 15px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    color: #000000;
    background: #a70a19;
    border-radius: 20px;
    width: 15 rem;
    height: 3rem;
    padding-top: 1rem;
    
  }
  
