.container {
    display: grid;
    place-items: center; 
}

.custom-label {
    font-family: 'Inter';
    text-align: center;
    color: #000000;
}

.botonS{
    font-family: 'Inter';
    justify-content: center; 
    color: #000000;
    background: #e3070f;
    place-items: center;
    padding: 15px;
    border: none;
    border-radius: 1px;  
    cursor: pointer;
    width: calc(100% - 6px);
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 3px;
}   


h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    text-align: center;
    color: #000000;
}



