.container {
    display: grid;
    place-items: center; 
}

.custom-label {
    font-family: 'Inter';
    text-align: center;
    color: #000000;
}

.botonS{
    font-family: 'Inter';
    justify-content: center; 
    text-align: center;
    color: #000000;
    background: #e3070f;
    /* border-radius: 10px;
    width: 13.75rem;
    height: 3.25rem;
    padding-top: 1.25rem; */
}   


h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    text-align: center;
    color: #000000;
}



